<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2"></script>
        <title>Login - Gameparty</title>
    </head>
    <body>
        <header class="border-b border-gray-200 p-4">
            <div
                class="max-w-[1000px] mx-auto flex items-center justify-between"
            >
                <img class="w-48" src="/images/logo.svg" alt="" />
                <nav>
                    <ul class="flex gap-2">
                        <li
                            class="flex items-center gap-2 font-medium hover:text-red-500 rounded py-2 px-4"
                        >
                            <i class="ph-bold ph-bag"></i>
                            <a href="/">Loja</a>
                        </li>
                        <li
                            class="flex items-center gap-2 font-medium hover:text-red-500 rounded py-2 px-4"
                        >
                            <i class="ph-bold ph-squares-four"></i>
                            <a href="/conta/biblioteca">Minha Biblioteca</a>
                        </li>
                    </ul>
                </nav>
                {{#user}}
                <a href="/conta">
                    <div class="flex items-center gap-2">
                        <i class="ph-bold ph-user"></i>
                        <div>
                            <strong>{{user.name}}</strong>
                            <span class="text-sm text-neutral-500 block"
                                >{{user.username}}</span
                            >
                        </div>
                    </div>
                </a>
                {{/user}}
                <a
                    href="/auth"
                    class="flex items-center gap-2 font-medium bg-red-600 text-white rounded-full py-2 px-6 hover:bg-red-700"
                >
                    <i class="ph-bold ph-user"></i>
                    Iniciar sessão
                </a>
            </div>
        </header>
        <main class="max-w-[1000px] mx-auto py-8">
            <h1 class="text-2xl font-bold text-neutral-900">Iniciar sessão</h1>
            {{#error}}
            <div class="bg-red-50 rounded-lg p-4 mt-4">
                <span class="text-red-600 flex items-center gap-2 font-medium">
                    <i class="text-xl ph-bold ph-warning"></i> {{error}}
                </span>
            </div>
            {{/error}}
            <section class="flex mt-4 gap-16">
                <div>
                    <form action="/auth/login" method="POST">
                        <label class="font-medium text-neutral-600" for="user"
                            >Usuário</label
                        >
                        <input
                            class="bg-neutral-100 border border-neutral-300 rounded-lg px-4 py-2 w-full mb-4"
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Digite seu nome de usuário"
                            required
                        />
                        <label
                            class="font-medium text-neutral-600"
                            for="password"
                            >Senha</label
                        >
                        <input
                            class="bg-neutral-100 border border-neutral-300 rounded-lg px-4 py-2 w-full mb-4"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Digite sua senha"
                            required
                        />
                        <button
                            type="submit"
                            class="w-full mt-4 flex justify-between text-nowrap flex items-center gap-2 font-medium bg-red-600 text-white rounded-full px-4 py-3 hover:bg-red-700"
                        >
                            Entrar
                            <i class="ph-bold ph-arrow-right"></i>
                        </button>
                    </form>
                </div>
                <div class="bg-red-600 p-6 rounded-lg text-white">
                    <h2 class="text-xl font-semibold mb-4">
                        Não tem uma conta?
                    </h2>
                    <p class="mb-4">
                        Crie uma conta para acessar todos os recursos da
                        Gameparty.
                    </p>
                    <a
                        href="/auth/cadastro"
                        class="flex items-center justify-between gap-2 font-medium bg-white text-neutral-900 rounded-full px-6 py-2 hover:bg-neutral-300"
                    >
                        Criar conta
                        <i class="ph-bold ph-arrow-right"></i>
                    </a>
                </div>
            </section>
        </main>
    </body>
</html>
