<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2"></script>
        <title>Gameparty</title>
    </head>
    <body>
        <header class="border-b border-gray-200 p-4">
            <div
                class="max-w-[1000px] mx-auto flex items-center justify-between"
            >
                <img class="w-48" src="/images/logo.svg" alt="" />
                <nav>
                    <ul class="flex gap-2">
                        <li
                            class="flex items-center gap-2 font-medium hover:text-red-500 rounded py-2 px-4"
                        >
                            <i class="ph-bold ph-house-line"></i>
                            <a href="/">Página Inicial</a>
                        </li>
                        <li
                            class="flex items-center gap-2 font-medium hover:text-red-500 rounded py-2 px-4"
                        >
                            <i class="ph-bold ph-joystick"></i>
                            <a href="#">Jogos</a>
                        </li>
                        <li
                            class="flex items-center gap-2 font-medium hover:text-red-500 rounded py-2 px-4"
                        >
                            <i class="ph-bold ph-squares-four"></i>
                            <a href="#">Minha Biblioteca</a>
                        </li>
                    </ul>
                </nav>
                <a
                    href="/auth"
                    class="flex items-center gap-2 font-medium bg-red-600 text-white rounded-full py-2 px-6 hover:bg-red-700"
                >
                    <i class="ph-bold ph-user"></i>
                    Iniciar sessão
                </a>
            </div>
        </header>
        <main>
            <div class="bg-neutral-100 pb-2">
                <img
                    class="max-h-[500px] w-full object-cover"
                    src="https://image.api.playstation.com/vulcan/ap/rnd/202503/1816/0544cd1eee552ee2446d10e24c9e6c7d6403e02d404601fc.jpg"
                    alt=""
                />
                <div
                    class="max-w-[1000px] mx-auto flex items-center gap-8 rounded-lg my-4"
                >
                    <div class="flex-1">
                        <h1 class="text-2xl font-bold text-neutral-900">
                            Rematch
                        </h1>
                        <div class="flex items-center gap-2 mt-1">
                            <span
                                class="block bg-red-600 rounded-full px-3 py-1 font-medium text-white text-xs"
                                >ESPORTES</span
                            >
                            <p class="text-sm text-neutral-700">
                                Disponível para PC e PS5
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-4">
                        <a
                            href="#"
                            class="text-nowrap flex items-center gap-2 font-medium bg-neutral-200 rounded-full px-6 py-2 hover:bg-neutral-300"
                        >
                            Ver mais
                            <i class="ph-bold ph-caret-right"></i>
                        </a>
                        <a
                            href="#"
                            class="text-nowrap flex items-center gap-2 font-medium bg-red-600 text-white rounded-full py-2 px-2 pl-4 hover:bg-red-700"
                        >
                            <i class="ph-bold ph-plus"></i>
                            Comprar agora
                            <span
                                class="block font-bold text-sm bg-white text-neutral-800 rounded-full px-2 py-1"
                                >R$ 89,00</span
                            >
                        </a>
                    </div>
                </div>
            </div>
            <div class="max-w-[1000px] mx-auto mt-8">
                <h2 class="text-2xl font-medium text-neutral-700 mb-4">
                    Jogos em destaque
                </h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="bg-white rounded-lg border border-gray-200 p-4">
                        <img
                            class="w-full h-36 object-cover rounded"
                            src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2138720/header.jpg?t=1750327757"
                            alt="Rematch"
                        />
                        <h3 class="text-lg font-semibold mt-2 mb-4">Rematch</h3>
                        <a
                            href="#"
                            class="flex justify-between text-nowrap flex items-center gap-2 font-medium bg-red-600 text-white rounded-full py-2 px-2 pl-4 hover:bg-red-700"
                        >
                            Comprar
                            <span
                                class="block font-bold text-sm bg-white text-neutral-800 rounded-full px-2 py-1"
                                >R$ 89,00</span
                            >
                        </a>
                    </div>
                    <div class="bg-white rounded-lg border border-gray-200 p-4">
                        <img
                            class="w-full h-36 object-cover rounded"
                            src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2138720/header.jpg?t=1750327757"
                            alt="Rematch"
                        />
                        <h3 class="text-lg font-semibold mt-2 mb-4">Rematch</h3>
                        <a
                            href="#"
                            class="flex justify-between text-nowrap flex items-center gap-2 font-medium bg-red-600 text-white rounded-full py-2 px-2 pl-4 hover:bg-red-700"
                        >
                            Comprar
                            <span
                                class="block font-bold text-sm bg-white text-neutral-800 rounded-full px-2 py-1"
                                >R$ 89,00</span
                            >
                        </a>
                    </div>
                    <div class="bg-white rounded-lg border border-gray-200 p-4">
                        <img
                            class="w-full h-36 object-cover rounded"
                            src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2138720/header.jpg?t=1750327757"
                            alt="Rematch"
                        />
                        <h3 class="text-lg font-semibold mt-2 mb-4">Rematch</h3>
                        <a
                            href="#"
                            class="flex justify-between text-nowrap flex items-center gap-2 font-medium bg-red-600 text-white rounded-full py-2 px-2 pl-4 hover:bg-red-700"
                        >
                            Comprar
                            <span
                                class="block font-bold text-sm bg-white text-neutral-800 rounded-full px-2 py-1"
                                >R$ 89,00</span
                            >
                        </a>
                    </div>
                </div>
        </main>
    </body>
</html>
